# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# Database
*.db
*.sqlite
*.sqlite3

# macOS
.DS_Store
*.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# Docs
docs/
